/* GLAVNI NAVBAR */

.navbar {
    min-height: 120px;
    background: white;
    border-bottom: 1px solid #bebebe;
}

.nav a {
    color: rgb(41, 41, 41);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav a:hover {
    color: black;
    font-weight: 500;
}

.navbar a {
    color: rgb(41, 41, 41);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a:hover {
    color: black;
    font-weight: 500;
}

.navbar .nav-item.active {
    /*border-bottom: 2px solid black;*/
    background-color: #ff993e;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.navbar .nav-item.active:hover {
    /*border-bottom: 2px solid black;*/
    background-color: #ffa352;
}

.logo {
    max-width: 64px;
}

.menu-icon {
    max-width: 32px;
}

/* GLAVNI NAVBAR  KRAJ*/

/*FOOTER NAVBAR PODNOZIJA*/

.nav .nav-link.active {
    border-bottom: 2px solid rgb(95, 95, 95);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

/*KRAJ FOOTER NAVBAR PODNOZIJA*/

/*** BODY SEKCIJA ***/

body {
    background: white;
}

/*Ikonice proizvoda*/

.icon {
    max-width: 64px;
    max-height: 64px;
}

.icon:hover {
    cursor: pointer;
}

.icon2 {
    max-width: 64px;
    padding: 5px;
}

.icon2:hover {
    cursor: pointer;
}

/*   ***     */

/* Istaknuti naslov strane */

.glavni-naslov {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 70px;
    font-style: inherit;
    text-align: center;
    color: #575757;
}

.box {
    /*background: rgb(75, 139, 223);*/
    min-height: 200px;
    border-bottom: 1px solid #bebebe;
}

/*   ***     */

/* +++ POST CLANAK +++ */

/* Glavni okvir clanka */

.post {
    margin-top: 10px;
    margin-bottom: 50px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 6px;
    min-height: 500px;
    overflow: hidden;
}

/*   ***     */

/* Paragraf clanaka */

.post-text {
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.post-content {
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/*   ***     */

/* Paragraf clanaka + prosireno (nekoristi se trenutno)*/

.post-more {
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/*   ***     */

/* Naslov */

.post-naslov {
    background-color: rgb(144, 144, 144);
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    font-size: 30px;
    max-width: max-content;
}

.post-title-2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(70, 69, 69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    max-width: max-content;
}

/*   ***     */

/* Taster clanka */

.post-button {
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-bottom: 3px solid rgb(117, 117, 117);
    /*  border-radius: 10px;*/
    background: white;
    margin-bottom: 25px;
}

.post-button:hover {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(56, 56, 56);
    font-weight: 500;
    outline: none;
}

/*   ***     */

/* Taster stranice (navigacije slajdera)*/

.page-button {
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 2px solid rgb(117, 117, 117);
    border-radius: 30px;
    /*  border-radius: 10px;*/
    background: white;
    margin-bottom: 25px;
}

.page-button:hover {
    color: rgb(0, 0, 0);
    font-weight: 500;
    outline: none;
}

/*   ***     */

/* Slike u clanicma */

.post-image {
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 4px;
}

/*   ***     */

/* Pozadina slike proizvoda (beli krug iza ikone proizvda)*/

.thumbnail {
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
}

/*   ***     */

/* Ikonica proizvoda */

.img2 {
    max-width: 128px;
    max-width: 128px;
}

.img3 {
    max-width: 96px;
    max-width: 96px;
}

/*   ***     */

/* About tekst */

.about-text {
    text-align: center;
}

/*   ***     */

/* Linkovi u obliku tastera */

.link {
    border: none;
    outline: none;
    padding: 12px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 2px solid rgb(117, 117, 117);
    border-radius: 30px;
    /*  border-radius: 10px;*/
    text-decoration: none;
    background: white;
    margin-bottom: 5px;
}

.link:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 500;
    outline: none;
}

/*   ***     */

/* Tasteri navigacije strana */

.post-button {
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-bottom: 3px solid rgb(117, 117, 117);
    /*  border-radius: 10px;*/
    background: white;
    margin-bottom: 25px;
}

.post-button:hover {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(56, 56, 56);
    font-weight: 500;
    outline: none;
}

.page-button {
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 2px solid rgb(117, 117, 117);
    border-radius: 30px;
    /*  border-radius: 10px;*/
    background: white;
    margin-bottom: 25px;
}

.page-button:hover {
    color: rgb(0, 0, 0);
    font-weight: 500;
    outline: none;
}

/*   ***     */

/* Sadrzaj stranice i taster sadrzaja */

/* Taster za pozivanje sadrzaja */

.btn-sadrzaj {
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 2px solid rgb(117, 117, 117);
    border-radius: 30px;
    /*  border-radius: 10px;*/
    background: white;
    margin-bottom: 5px;
}

.btn-sadrzaj:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 500;
    outline: none;
}

.btn-sadrzaj:active{
    outline: none;
}

/* Telo sadrzaja  */

.btn-nav {
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 3px;
    background: #f8f8f8;
    outline: none;
}

.link-list {
    background: #f8f8f8;
    list-style-type: none;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 6px;
    min-width: 30%;
    max-width: max-content;
    padding: 0px;
    margin-top: 10px;
}

.link-list li {
    border-bottom: 1px solid rgb(153, 153, 153);
    ;
    padding: 10px;
}

.link-list li:last-of-type {
    border-bottom: none;
}

.link-list .nav-link {
    font-size: 20px;
    padding: 2px;
    color: black;
    text-decoration: none;
}

.link-list ul {
    border-bottom: 1px solid gray;
}

.link-list ul:last-child {
    border-bottom: none;
}

.link {
    margin-left: 15px;
}

/*   ***     */

/* Tabele cena */
table tr{
    border:1px solid rgb(42, 42, 42);
}

.table1 th{
    background-color:#536184;
    color: white;
    padding: 12px;
    font-weight: 600;

    border-bottom:2px solid rgb(75, 75, 75);;
}
.table1 td{
    padding: 10px;
}
.table1 tr:nth-of-type(2n){

    background-color: #f6f6f6;
}

/*   ***     */

/* Efekti za ikonice, tastere i slike */

.main-thumbnail:hover{
    transform: scale(1.1);
    transition: all 400ms;
    cursor: pointer;
}

.page-button:hover {
    transform: scale(1.1);
    transition: all 400ms;
}

.btn-main:hover {
    transform: scale(1.1);
    transition: all 400ms;
}


.btn-sadrzaj:hover {
    transform: scale(1.1);
    transition: all 400ms;
}

.btn-valuta:hover {
    transform: scale(1.1);
    transition: all 400ms;
}

.btn-submit:hover {
    transform: scale(1.1);
    transition: all 400ms;
}

.post-button:hover {
    transform: scale(1.1);
    transition: all 400ms;
}

.icon:hover {
    transform: scale(1.4);
    transition: all 500ms;
}
.icon2:hover {
    transform: scale(1.4);
    transition: all 500ms;
}
.img2:hover {
    transform: scale(1.2);
    transition: all 500ms;
}
.img3:hover {
    transform: scale(1.2);
    transition: all 500ms;
}
.post-image:hover {
    transform: scale(1.03);
    transition: all 500ms;
}


/*   ***    */

/* Onemogucavanje horizontalnog scrollbar-a */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*   ***     */

/*  +++ POST CLANAK KRAJ +++ */

/*  +++ FORME +++ */

.text-box {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 4px;
    font-size: 20px;
    padding: 5px;
    outline: none;
}

.text-box:focus {
    border: 2px solid rgb(70, 70, 70);
}

.text-area {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 4px;
    font-size: 20px;
    padding: 5px;
    min-width: 300px;
    min-height: 150px;
    outline: none;
}

.text-area:focus {
    border: 2px solid rgb(70, 70, 70);
}

.combo {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 4px;
    font-size: 20px;
    padding: 5px;
    min-width: 200px;
    background: white;
    outline: none;
}

.combo:focus {
    border: 2px solid rgb(70, 70, 70);
}

.btn-submit {
    font-size: 20px;
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: none;
    margin-top: 10px;
    color: white;
}

.btn-submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.labela {
    font-size: 20px;
    padding-top: 10px;
}

.req {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: darkred;
}

#error, #error2, #error3{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12pt;
    color: black;
    padding: 5px;
    text-align: center;
    border-bottom: #8b0000 2px solid;
    border-radius: 3px;
    width: 250px ;
    
}
#success{
    padding: 10px;
    font-size: 16pt;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    border-bottom: #409756 2px solid;
}

/*** +++ FORME KRAJ +++ ***/

/*** +++ STRANICA O NAMA +++ ***/

.avatara {
    position: relative;
    margin: 5px;
    border: 2px solid rgb(83, 83, 83);
    background: rgb(121, 121, 121);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.avatarb:hover .avatar-ovelay {
    opacity: 1;
    cursor: pointer;
}

.avatarb {
    position: relative;
    border: 2px solid rgb(83, 83, 83);
    margin: 5px;
    background: rgb(121, 121, 121);
    border-radius: 50%;
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.avatar-ovelay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.8);
}

.avatar-text {
    color: rgb(47, 47, 47);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.avatara:hover .avatar-ovelay {
    opacity: 1;
    cursor: pointer;
}

.quote-text {
    color: rgb(70, 70, 70);
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.about-text {
    text-align: center;
}

.glavni_meni {
    list-style-type: none;
}

.glavni_meni li a {
    color: rgb(71, 71, 71);
    font-size: 30px;
}

/*** +++ STRANICA O NAMA KRAJ +++ ***/

/*** +++ POCETNA STRANICA +++ ***/

.main-thumbnail {
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    min-width: 360px;
    min-height: 360px;
    max-width: 360px;
    max-height: 360px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0,0.6);
}


/*** +++ POCETNA STRANICA KRAJ +++ ***/

/*** BODY SEKCIJA KRAJ ***/

/*** NASLOVNA STRANA GLAVNA SLIKA ***/

.main-image {
    position: relative;
    min-height: 600px;
    background: rgb(204, 204, 204);
    background-size: 100% 180%;
    background-position: 0 20%;
}

.main-image-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    min-height: 600px;
}

/* Glavni naslov preko slike */

.main-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px #000000;
    font-weight: 300;
    font-size: 70px;
    font-style: inherit;
    color: white;
}
.naslov-pocetna{
    font-size:48px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(51, 51, 51);
    text-align: center;

}

/*   ***     */

/* Glavni taster preko slike */

.btn-main {
    font-size: 20px;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    border: none;
    margin-top: 10px;
    color: black;
}

.btn-main:hover {
    opacity: 0.9;
    cursor: pointer;
}

/*   ***     */

/*** NASLOVNA STRANA GLAVNA SLIKA KRAJ***/

.img4{
    width: 500px;
    height: 500px;
}

hr {
    background: #dddddd;
}

.corp-text {
    font-size: 18px;
}

/* Responsive parametri za tablete i manje laptop racunare */

@media only screen and (max-width:1100px) {
    /* Glavna navigacija */
    .navbar-nav {
        margin-top: 20px;
    }
    .navbar {
        min-height: 100px;
    }
    /* Glavna navigacija kraj*/
    /* Stranica i kartice  */
    .thumbnail {
        background: white;
        min-width: 10px;
        min-height: 10px;
        border-radius: 50%;
        padding: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .post-title-2 {
        margin-left: 20px;
    }
    .post-text {
        padding: 10px;
        margin-left: 10px;
    }
    .post-more {
        padding: 20px;
        margin-left: 0px;
    }
    .post-sadrzaj {
        margin: 15px;
    }
    .main-title {
        font-size: 50px;
    }
    .main-image {
        min-height: 450px;
        background-size: 120% 100%;
    }
    .main-image-overlay {
        min-height: 450px;
    }
    .img2 {
        width: 92px;
        height: 92px;
    }
    .img3 {
        max-width: 64px;
        max-width: 64px;
    }
    /* Stranica i kartice kraj */
    /* Stranica o nama */
    .avatara {
        margin: -8px;
        background: rgb(121, 121, 121);
        border-radius: 50%;
        width: 70px;
        height: 70px
    }
    .avatarb {
        margin: -8px;
        background: rgb(121, 121, 121);
        border-radius: 50%;
        width: 85px;
        height: 85px
    }
    .avatar-text {
        font-size: 20px;
    }
    /* Stranica o nama kraj*/

    /* Tabele cena */

      .table1 th{
        background-color:#536184;
        color: white;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
    
        border-bottom:2px solid rgb(75, 75, 75);;
    }
    .table1 td{
        font-size: 16px;
    }

    /* Tabele cene kraj */
    /* Pocetna stranica */
    .main-thumbnail {
        background: white;
        min-width: 270px;
        min-height: 270px;
        max-width: 270px;
        max-height: 270px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    /* Pocetna stranica */
}

/* Responsive parametri za tablete i manje laptop racunare KRAJ */

/* Responsive parametri za pametne telefone i druge mobilne uredjaje */

@media only screen and (max-width:400px) {
    /* Glavna navigacija */
    .navbar {
        min-height: 70px;
    }
    .post-naslov {
        font-size: 20px;
    }
    /* Glavna navigacija kraj*/
    /* Stranice i kartice */
    .post-text {
        padding: 20px;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 18px;
    }
    .post-more {
        padding: 20px;
        margin-left: 0px;
        font-size: 18px;
    }
    .post-content {
        padding: 10px;
    }
    .post-title-2 {
        margin-left: 18px;
        font-size: 25px;
    }
    .page-button {
        font-size: 16px;
    }
    .post-button {
        margin-left: 10px;
        font-size: 16px;
    }
    .glavni-naslov {
        font-size: 50px;
    }
    .box {
        min-height: 150px;
    }
    .navbar a {
        font-size: 16px;
    }
    .logo {
        max-width: 48px;
    }
    .menu-icon {
        max-width: 32px;
    }
    .icon {
        max-width: 48px;
    }
    .icon2 {
        max-width: 48px;
        padding: 5px;
    }
    .img2 {
        width: 82px;
        height: 80px;
    }
    .main-title {
        font-size: 30px;
    }
    .main-image {
        min-height: 300px;
        background-size: 140% 100%;
    }
    .main-image-overlay {
        min-height: 300px;
    }
    .btn-main {
        font-size: 12px;
    }
    /* Stranice i kartice kraj */
    /* Sadrzaj stranice */
    .btn-sadrzaj {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 5px;
    }
    .link-list {
        margin: 15px;
    }
    .link-list .nav-link {
        font-size: 16px;
    }
    .post-button {
        margin-left: 5px;
        font-size: 16px;
    }
    .link {
        margin-left: 15px;
        font-size: 16px;
    }
    /* Sadrzaj stranice kraj*/
    /* Stranica o nama */
    .avatara {
        margin: -8px;
        background: rgb(121, 121, 121);
        border-radius: 50%;
        width: 54px;
        height: 54px
    }
    .avatarb {
        margin: -8px;
        background: rgb(121, 121, 121);
        border-radius: 50%;
        width: 64px;
        height: 64px
    }
    .avatar-text {
        font-size: 12px;
    }
    .quote-text {
        font-size: 16px;
        padding-left: 15px;
    }
    /* Stranica o nama kraj*/
    
    /* Tabele cena */

    .table1 th{
        background-color:#536184;
        color: white;
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
    
        border-bottom:2px solid rgb(75, 75, 75);;
    }
    .table1 td{
        font-size: 12px;
    }

    /* Tabele cene kraj */
    
    /* Ostalo */
    .box1 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .thumbnail {
        width: 120px;
        height: 120px;
    }
    .img2 {
        width: 82px;
        height: 80px;
    }
    .corp-text {
        font-size: 14px;
    }
    .btn-nav {
        font-size: 16px;
    }
    .table-box{
        overflow: scroll;
    }
    /* Ostalo kraj */

    /* Pocetna stranica */

    .main-thumbnail {
        background: white;
        min-width: 180px;
        min-height: 180px;
        max-width: 180px;
        max-height: 180px;   
    }


    /* Pocetna stranica */
}



/* Responsive parametri za pametne telefone i druge mobilne uredjaje KRAJ*/